<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="primary">
            <ion-button color="medium" (click)="close()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'PAGES.RECIPES.ADD' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="medium">
    <ion-item color="medium">
    {{(activeSegment == recipesSegments.Products ? 'PAGES.RECIPES.SEGMENTS.PRODUCTS' : 'PAGES.RECIPES.SEGMENTS.SPORT') | translate}}
    </ion-item>
    content
</ion-content>
