<ion-card color="light">
    <ion-card-content>
        <ion-row padding>
            <ion-col>
                <ion-row>{{consumption}}</ion-row>
                <ion-row>{{'PAGES.CALORIMETER.HEADER.PURPOSE' | translate}}</ion-row>
            </ion-col>
            <ion-col>
                -
            </ion-col>
            <ion-col>
                <ion-row>{{foodSum}}</ion-row>
                <ion-row>{{'PAGES.CALORIMETER.HEADER.FOOD' | translate}}</ion-row>
            </ion-col>
            <ion-col>
                +
            </ion-col>
            <ion-col>
                <ion-row>{{activitySum}}</ion-row>
                <ion-row>{{'PAGES.CALORIMETER.HEADER.SPORT' | translate}}</ion-row>
            </ion-col>
            <ion-col>
                =
            </ion-col>
            <ion-col>
                <ion-row>{{consumption - foodSum + activitySum}}</ion-row>
                <ion-row>{{'PAGES.CALORIMETER.HEADER.SUMMARY' | translate}}</ion-row>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>
