<ion-header>
  <ion-toolbar>
    <ion-title>
      {{(isLoggedIn$ | async) ? ('TABS.PROFILE' | translate): 'TABS.SIGN_IN' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(isLoggedIn$ | async); else signIn">
    <span>тут будет профиль</span>
  </div>
  <ng-template #signIn>
    <app-sign-in></app-sign-in>
  </ng-template>
  <div *ngIf="afAuth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template>
</ion-content>
